body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.header {
    background-color: #1f2937;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    top: 0;
    width: 100%;
    z-index: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
}

.image-text {
    position: relative;
    width: 300px;
    height: 169px;
    margin-right: 20px;
    overflow: hidden;
    border: 1px solid #a9a9a9;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.image-text h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 1;
    pointer-events: none;
}

.image-text img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    transition: transform 0.3s ease-in-out;
}

.image-text:hover img {
    transform: scale(1.1);
    filter: brightness(50%);
}

.disclaimer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #666;
    padding: 10px;
    border-top: 1px solid #d5d5d5;
    background-color: #eaeaea;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.disclaimer a {
    color: #4a4a4a;
    text-decoration: underline;
    font-weight: bold;
}

.disclaimer a:hover {
    color: #007bff;
}

.disclaimer p:first-of-type {
    margin-bottom: 5px;
}

.disclaimer span {
    color: #007bff;
}

.disclaimer span:hover {
    text-decoration: underline;
    cursor: pointer;
}
